html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{
	margin:0;
	padding:0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: gray;
}
i,em{
	font-style: normal;
}
b,strong{
	font-weight: normal;
}

.clearfix:after,
.clearfix:before{
	content: "";
	display: block;
	clear: both;
	overflow: hidden;
	visibility: hidden;
	height: 0;
}


#header{
	width: 100%;
}
#header .header-content{
	width: 1141px;
	height: 104px;
	margin: 0 auto;
	background: #fefefe;
}
#header .header-content .logo{
	float: left;
}
#header .header-content .logo a{
	float: left;
	margin-top: 24px;
}
#header .header-content .logo .key{
	float: right;
	width: 88px;
	padding-left: 26px;
	margin-top: 34px;
	background: url(../img/line1.png) no-repeat left top;
}
#header .header-content .logo .key p{
	font-size: 13px;
	font-style: italic;
	color: #89898B;
}
#header .header-content .nav{
	width: 617px;
	height: 73px;
	padding-top: 31px;
	float: right;
}
#header .header-content .nav li{
	float: left;
}
#header .header-content .nav li a{
	width: 88px;
	height: 73px;
	display: block;
	text-align: center;
	line-height: 73px;
	color: black;
}
#header .header-content .nav .active a{
	background: url(../img/sg1.jpg) no-repeat;
	color: white;
}

#main .location {
	width: 100%;
}
#main .location .section1{
	width: 100%;
	height: 136px;
	padding-top: 66px;
	background: url(../img/location.png);
}
#main .location .section1 p{
	width: 1141px;
	margin: 0 auto;
}
#main .location .section1 .p1{
	margin-bottom: 25px;
}
#main .location .section1 .p1 b{
	font-size: 22px;
	color: white;
	display: inline-block;
}
#main .location .section1 .p1 i{
	font-size: 22px;
	color: #fcb3ac;
	margin: 0 16px;
}
#main .location .section1 .p1 span{
	line-height: 22px;
	font-size: 16px;
	color: #fcb3ac;
}
#main .location .section1 .p2{
	font-size: 12px;
	color: #fcb3ac;
}
#main .location .section1 .p2 strong{
	color: white;
}
#main .location .section2{
	width: 100%;
	background: #f7f7f7;
}
#main .location .section2 .nav{
	/*width: 1141px;*/
	width: 1127px;
	margin: 0 auto;
	height: 60px;
	text-align: right;
	line-height: 60px;
	padding-right: 14px;
}
#main .location .section2 .nav a{
	font-size: 12px;
	margin-left: 34px;
}

#footer{
	width: 100%;
	height: 110px;
	padding-top: 28px;
	text-align: center;
	background: #8d0981;
	color: #whitesmoke;
}
#footer p{
	color: #whitesmoke;
	line-height: 30px;
	font-size: 11px;
}
#footer a{
	color: #whitesmoke;
	font-size: 11px;
	margin: 0 8px;
}
